<div class="main">
    <div class="chat">
        <div class="chat-list">
            <div class="chat-main">
                <div class="chat-text">
                    <p>田中太郎
                        <span>
                            2020/08/03 21:09
                        </span>
                    </p>
                    <p>
                    本文でーす＾＾
                    </p>

                </div>
                <div class="chat-button">
                    <ul>
                        <li><a href="#">edit</a></li>
                        <li><a href="#">delete</a></li>
                    </ul>
                </div>
            </div>
            <div class="chat-main">
                <div class="chat-text">
                    <p>田中太郎
                        <span>
                            2020/08/03 21:09
                        </span>
                    </p>
                    <p>
                    本文でーす＾＾
                    </p>

                </div>
                <div class="chat-button">
                    <ul>
                        <li><a href="#">edit</a></li>
                        <li><a href="#">delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-form">
    <form>
        <input type="text">
        <input type="submit" value="send">
    </form>
    </div>
</div>